.logo {
	transition: 0.2s ease-in-out;
}

.toriLogo {
	fill: #c20007;
	transition: 0.5s ease-in-out;
}

.logoBackground {
	fill: white;
}

.logoKanji {
	fill: white;
	transition: 0.5s ease-in-out;
}

.logoToriShadow {
	fill: #610706;
	transition: 0.5s ease-in-out;
}

.logoMoon700 {
	fill: #610706;
}
