@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./Assets/fonts/apple/SF-Pro-Display-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'SFProDisplay' !important;
}

body {
    font-family: 'SFProDisplay' !important;
    line-height: 1;
    background-color: #f5f5f5;
	color: rgb(38 38 38);
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: 0;
}

button {
    font-family: 'SFProDisplay' !important;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font-family: 'SFProDisplay' !important;
}

img, a, input {
    user-select: none;
}

